#include "VisExecECRes.h"

1								24		DISCARDABLE	"Release\\Manifest.xml"

IDR_EC_VISEXECEC_MENU MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New\tCtrl+N",                IDM_VISEXECEC_MNUFILENEW
        MENUITEM "&Open...\tCtrl+O",            IDM_VISEXECEC_MNUFILEOPEN
        MENUITEM "&Save\tCtrl+S",               IDM_VISEXECEC_MNUFILESAVE
        MENUITEM "&Save &As...",                IDM_VISEXECEC_MNUFILESAVEAS
        MENUITEM SEPARATOR
        MENUITEM "&Print\tCtrl+P",              IDM_VISEXECEC_MNUFILEPRINT
        MENUITEM "P&rint Setup...",             IDM_VISEXECEC_MNUFILEPRINTSETUP
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       IDM_VISEXECEC_MNUFILEEXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo\tCtrl+Z",               IDM_VISEXECEC_MNUEDITUNDO
        MENUITEM "&Redo\tCtrl+Y",               IDM_VISEXECEC_MNUEDITREDO
        MENUITEM SEPARATOR
        MENUITEM "Select &All\tCtrl+A",         IDM_VISEXECEC_MNUEDITSELECTALL
        MENUITEM "Cu&t\tCtrl+X",                IDM_VISEXECEC_MNUEDITCUT
        MENUITEM "&Copy\tCtrl+C",               IDM_VISEXECEC_MNUEDITCOPY
        MENUITEM "&Paste\tCtrl+V",              IDM_VISEXECEC_MNUEDITPASTE
        MENUITEM "Paste &Special...",           IDM_VISEXECEC_MNUEDITPASTESPECIAL
        MENUITEM "&Delete\tDel",                IDM_VISEXECEC_MNUEDITDELETE
        MENUITEM SEPARATOR
        MENUITEM "&Find...\tCtrl+F",            IDM_VISEXECEC_MNUEDITFIND
        MENUITEM "&Replace...\tCtrl+R",         IDM_VISEXECEC_MNUEDITREPLACE
        MENUITEM "&Go To...",                   IDM_VISEXECEC_MNUEDITGOTO
        MENUITEM SEPARATOR
        MENUITEM "&Refresh\tF5",                IDM_VISEXECEC_MNUEDITREFRESH
        MENUITEM SEPARATOR
        MENUITEM "P&roperties...",              IDM_VISEXECEC_MNUEDITPROPERTIES
        MENUITEM "&Preferences...",             IDM_VISEXECEC_MNUEDITPREFRENCES
    END
    POPUP "&Window"
    BEGIN
        MENUITEM "&New Window",                 IDM_VISEXECEC_MNUWINDOWNEW
        MENUITEM "&Tile",                       IDM_VISEXECEC_MNUWINDOWTILE
        MENUITEM "&Cascade",                    IDM_VISEXECEC_MNUWINDOWCASCADE
        MENUITEM "&Arrange All",                IDM_VISEXECEC_MNUWINDOWARRANGEALL
        MENUITEM SEPARATOR
        MENUITEM "&Hide",                       IDM_VISEXECEC_MNUWINDOWHIDE
        MENUITEM "&Show",                       IDM_VISEXECEC_MNUWINDOWSHOW
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "Help &Contents\tF1",          IDM_VISEXECEC_MNUHELPCONTENTS
        MENUITEM "Help &Index",                 IDM_VISEXECEC_MNUHELPINDEX
        MENUITEM "Help &On Help",               IDM_VISEXECEC_MENUHELPHELP
        MENUITEM SEPARATOR
        MENUITEM "Licence &Information",        IDM_VISEXECEC_MNUHELPLICENCE
        MENUITEM "Check for &Updates",          IDM_VISEXECEC_MNUHELPUPDATE
        MENUITEM SEPARATOR
        MENUITEM "&About",                      IDM_VISEXECEC_MNUHELPABOUT
    END
END

IDR_EC_ACCEL_TABLE ACCELERATORS DISCARDABLE
BEGIN
	"N",           IDM_VISEXECEC_MNUFILENEW,       VIRTKEY, CONTROL, NOINVERT
	"O",           IDM_VISEXECEC_MNUFILEOPEN,      VIRTKEY, CONTROL, NOINVERT
	"S",           IDM_VISEXECEC_MNUFILESAVE,      VIRTKEY, CONTROL, NOINVERT
	"P",           IDM_VISEXECEC_MNUFILEPRINT,     VIRTKEY, CONTROL, NOINVERT
	"Z",           IDM_VISEXECEC_MNUEDITUNDO,      VIRTKEY, CONTROL, NOINVERT
	"Y",           IDM_VISEXECEC_MNUEDITREDO,      VIRTKEY, CONTROL, NOINVERT
	"A",           IDM_VISEXECEC_MNUEDITSELECTALL, VIRTKEY, CONTROL, NOINVERT
	"X",           IDM_VISEXECEC_MNUEDITCUT,       VIRTKEY, CONTROL, NOINVERT
	"C",           IDM_VISEXECEC_MNUEDITCOPY,      VIRTKEY, CONTROL, NOINVERT
	"V",           IDM_VISEXECEC_MNUEDITPASTE,     VIRTKEY, CONTROL, NOINVERT
	VK_DELETE,     IDM_VISEXECEC_MNUEDITDELETE,    VIRTKEY, NOINVERT
	"F",           IDM_VISEXECEC_MNUEDITFIND,      VIRTKEY, CONTROL, NOINVERT
	"R",           IDM_VISEXECEC_MNUEDITREPLACE,   VIRTKEY, CONTROL, NOINVERT
	VK_F5,         IDM_VISEXECEC_MNUEDITREFRESH,   VIRTKEY, NOINVERT
	VK_F1,         IDM_VISEXECEC_MNUHELPCONTENTS,  VIRTKEY, NOINVERT
END




IDR_VERSION VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEFLAGSMASK 0x2L
FILEFLAGS 0x0L
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "Comments", "Programmed in assembly with Easy Code 2\0"
			VALUE "FileDescription", "Easy Code 2 Visual Project\0"
			VALUE "FileVersion", "1.00.0.0001\0"
			VALUE "InternalName", "VisExecEC\0"
			VALUE "LegalCopyright", "Copyright © 2021\0"
			VALUE "OriginalFilename", "VisExecEC.exe\0"
			VALUE "ProductName", "VisExecEC\0"
			VALUE "ProductVersion", "1.00.0.0001\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1252
	END
END
