#include "VisExecECRes.h"

1								24		DISCARDABLE	"Debug\\Manifest.xml"

IDR_EC_VISEXECEC_MENU MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New",                        IDM_VISEXECEC_MNUFILENEW
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo",                       IDM_VISEXECEC_MNUEDITUNDO
    END
    POPUP "&Window"
    BEGIN
        MENUITEM "&Tile",                       IDM_VISEXECEC_MNUWINDOWTILE
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About",                      IDM_VISEXECEC_MNUHELPABOUT
    END
END




IDR_VERSION VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEFLAGSMASK 0x3L
FILEFLAGS 0x1L
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "Comments", "Programmed in assembly with Easy Code 2\0"
			VALUE "FileDescription", "Easy Code 2 Visual Project\0"
			VALUE "FileVersion", "1.00.0.0001\0"
			VALUE "InternalName", "VisExecEC\0"
			VALUE "LegalCopyright", "Copyright © 2021\0"
			VALUE "OriginalFilename", "VisExecEC.exe\0"
			VALUE "ProductName", "VisExecEC\0"
			VALUE "ProductVersion", "1.00.0.0001\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1252
	END
END
